{% extends 'base.html.twig' %}

{% block title %}Liste de tâches{% endblock %}

{% block body %}

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Liste des tâches - {{ projet.nom }}</h6>
            {% if  projet.etat != "Terminé" and projet.groups is not empty %}
            <a href="{{ path('task_new', {'id': projet.id}) }}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm float-right"><i class="fas fa-plus"></i> Ajouter une tâche</a>
            {% endif %}
        </div>
        <div class="card-body">
            <table class="table table-bordered" id="dataTable"  width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Status</th>
                        <th>priorité</th>
                        <th>Temps estimé</th>
                        <th>Actions</th>
                    </tr>
                </thead> 
                <tbody>
                {% for task in tasks %}
                    <tr>
                        <td>{{ task.nom }}</td>
                        {% if task.cloture == 0 %}
                        <td>
                            {{ task.demarre ? 'En cours' : 'Non commencée' }}
                        </td>
                        {% else %}
                         <td>{{ task.cloture ? 'Terminée' : 'En cours' }}</td>
                        {% endif %}
                        <td>
                            {% if task.priorite == "Maximale" %}
                                {{task.priorite}}   <i class="fas fa-exclamation" style="color: red;"></i>
                            {% elseif task.priorite == "Elevé"%}
                                {{task.priorite}}   <i class="fas fa-exclamation-circle" style="color: red;"></i>
                            {% else %}
                            {{task.priorite}} <i class="fas fa-exclamation" style="color: green;"></i>
                            {% endif %}
                        </td>
                        <td>{{task.tempsEstime}}{% if  task.tempsEstime == 1 %} heure {% else %} heures{% endif %}</td>
                        <td>
                            <a href="{{ path('task_show', {'id': task.id}) }}" class="btn btn-warning"><i class="fas fa-search"></i> Voir</a>
                            {% if task.projet.createur == app.user and  projet.etat != "Terminé" %}
                            <a href="{{ path('task_edit', { 'projet' : task.projet.id  , 'id': task.id }) }}"  class="btn btn-info"><i class="fas fa-edit"></i> Éditer</a>
                            {% endif %}
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="7">Liste de vide</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        
        </div>
    </div>

    <a href="{{ path('project_show' , {'id' : projet.id }) }}" class="btn btn-secondary btn-icon-split float-right">
        <span class="icon text-gray-600">
            <i class="fas fa-arrow-left"></i>
        </span>
        <span class="text">Retour</span>
    </a>


   
{% endblock %}
