{% extends 'base.html.twig' %}

{% block title %}Task{% endblock %}

{% block body %}

    <div id="alerte_success"></div>
    <div class="card shadow mb-4">   
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">{{ task.nom }}</h6>
            {% if task.user == app.user and task.cloture != 1 %}

                <div class="chronometre float-right ">
                
                    <div class="tim shadow-sm float-right">             
                        {{task.timer.heure }} h : {{task.timer.minute }} mn :  {{task.timer.seconde }} s  
                    </div>
                    {% if task.projet.StartProjet == 'true' %}
                        <button id="start" class="btn btn-info" onclick="start()"><i class="fas fa-play"></i></button>
                        <button id="stop" class="btn btn-danger" onclick="stop()" ><i class="fas fa-stop"></i></button>
                    {% elseif task.projet.StartProjet == 'false' %}
                        <span class="messageTimer blinking">{{ task.projet.timerProject}}</span> 
                    {% endif %}
                    
                </div>
            {% endif %}
        </div>
        <div class="card-body">
           
            <table class="table">
                <tbody>
                    <tr>
                        <th>Nom</th>
                        <td>{{ task.nom }}</td>
                        
                    </tr>
                    <tr>
                        <th>Date de création</th>
                        <td>{{task.createdAt|date('d-m-Y')}}</td>
                        
                    </tr>
                    <tr>
                        <th>Statut</th> 
                        {% if task.cloture == 0 %}
                        <td>
                            {{ task.demarre ? 'En cours' : 'Non commencée' }}
                        </td>
                        {% else %}
                        
                         <td class="text-danger">{{ task.cloture ? 'Termiée' : 'En cours' }}</td>
                        {% endif %}
                    </tr>
                   
                    <tr>
                        <th>Attribué à</th>
                        <td>{{ task.user.nom  }} {{ task.user.prenom  }}</td>
                    </tr>
                    <tr>
                        <th>Temps estimé</th>
                        <td>{{task.tempsEstime}}{% if task.tempsEstime == 1 %} heure {% else %} heures {% endif %}</td>
                    </tr>
                    <tr>
                        <th>Priorité</th>
                        <td>
                            {% if task.priorite == "Maximale" %}
                                {{task.priorite}}   <i class="fas fa-exclamation" style="color: red;"></i>
                            {% elseif task.priorite == "Elevé"%}
                                {{task.priorite}}   <i class="fas fa-exclamation-circle" style="color: red;"></i>
                            {% else %}
                            {{task.priorite}} <i class="fas fa-exclamation" style="color: green;"></i>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th>Description</th>
                        {% if task.description == null %}
                        <td>Pas de description</td>
                        {% else %}
                        <td>{{task.description}}</td>
                        {% endif %}
                    </tr> 
              
                    {% if task.projet.createur == app.user and task.cloture != 1 %}           
                        <td colspan="3">
                            <a href="{{ path('task_edit', {'projet' : task.projet.id  , 'id': task.id }) }}" class="btn btn-info btn-icon-split">
                                <span class="icon text-white-50">
                                    <i class="fas fa-edit"></i>
                                </span>
                                <span class="text">Mettre à jour</span>
                            </a>
                        </td>                         
                    {% endif %}
               
                    <tr>
                </tbody>
            </table>
        </div>
    </div>

    <a href="{{ path('task_index' , {'id' : task.projet.id }) }}" class="btn btn-secondary btn-icon-split">
        <span class="icon text-gray-600">
            <i class="fas fa-arrow-left"></i>
        </span>
        <span class="text">Retour</span>
    </a>


    <a href="{{ path('project_show' , {'id' : task.projet.id }) }}" class="btn btn-dark btn-icon-split float-right">
        <span class="icon">
            <i class="fas fa-search"></i>
        </span>
        <span class="text">Voir le projet</span>
    </a>


    <br><br><br>
    {% if task.projet.createur == app.user %}
        {{ include('task/_delete_form.html.twig') }}
    {% endif %}

  <!-- Logout Erreur-->
  <div class="modal fade" id="erreur" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="message_erreur"></h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Fermé</button>
        </div>
      </div>
    </div>
  </div>


{% endblock %}

{% block javascripts %}
<script type="text/javascript">
    
    let sp = document.getElementsByClassName("sp"),
        btn_start=document.getElementById("start"),
        btn_stop=document.getElementById("stop"),
        time,
        tempsRecupere,
        temps,
        t,
        h ={{ task.timer.heure }}, 
        mn = {{ task.timer.minute }}, 
        s = {{ task.timer.seconde }}; 

        
        /*
        * La fonction "start" démarre un appel répétitive de la fonction update_chrono 
        */
        function start(){
            btn_start.disabled=true;
            t = setInterval(update_chrono,1000);  
        
        }
        

        /*
        * La fonction update_chrono incrémente le nombre de millisecondes par 1 <==> 1*cadence = 100 
        */
        function update_chrono(){

            s++ ;    
           /*on teste si s=60 pour incrémenter le nombre de minute*/
           if(s == 60){ s = 0 ; mn +=1 ;}
           if(mn == 60){ mn = 0 ; h +=1 ;}
            //afficher les nouvelle valeurs
            let html="";
            html+="<span id='heure' data-heure="+h+">" + h + " h : </span>";
            html+="<span id='min' data-min="+mn+">"+ mn + " mn : </span>";
            html+="<span id='sec' data-sec="+s+">"+ s + " s</span>";
            $(".tim").empty();
            $(".tim").append(html);
           

        }
        
        
       /**
       * on arrête le "timer" par clearInterval ,on réactive le bouton start 
       */
        function stop(){

            let donnee = {
                'heure' : Number($("#heure").data("heure")), 
                'minute' : Number($("#min").data("min")), 
                'seconde' : Number($("#sec").data("sec"))
            }
           
            clearInterval(t);
            btn_start.disabled=false;

            //On envoie la valeur à notre contrôlleur pour l'enregistrer dans la base 
            $.ajax({
                method:"get",
                url:"/user/task/set/timer/"+{{ task.timer.id }},
                data: donnee,
                error:function(){
                    $("#message_erreur").text("Une erreur s'est produite, veuillez essayer ultérieurment"); 
                    $("erreur").modal("show"); 
                }
            })
        
            
        }
    
    </script>


{% endblock %}