<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta charset="UTF-8">
        <title>Timer projet | Connexion</title>
          <!-- Custom fonts for this template-->
        <link href="{{ asset('fontawesome-free/css/all.min.css')  }}" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

        <!-- Custom styles for this template-->
        <link href="{{ asset('css/sb-admin-2.min.css') }}" rel="stylesheet">
        <link href="{{ asset('css/style.css') }}" rel="stylesheet">

    </head>
<body id="page-top">


  <div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">

      <div class="col-xl-10 col-lg-12 col-md-9">

        <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
              <div class="col-lg-6 d-none d-lg-block bg-login-image-2"></div>
              <div class="col-lg-6">
                <div class="p-5">
                  <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-4">Connectez-vous</h1>
                  </div>


                {% if hasError == true %}

                    <div class="alert alert-danger" role="alert">
                       
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                         Adresse email et/ou mot de passe invalide !
                    </div>

                {% endif %}

                  {% for label, messages in app.flashes %}


                      {% for message in messages %}
                          <div class="alert alert-{{ label }}">
                              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                              <i class="fa fa-check"></i>
                              {{ message }}
                        
                          </div>
                      {% endfor %}

      
                  {% endfor %}

                  <form action="{{ path('login') }}" method="post" class="user">

                      <div class="form-group">
                        <input type="email" class="form-control form-control-user" id="email" aria-describedby="emailHelp" name="_username" placeholder="Votre adresse email" required>
                      </div>
                      <div class="form-group">
                        <input type="password" class="form-control form-control-user" id="password" name="_password" placeholder="Mot de passe" required>
                      </div>

                      <button type="submit" class="btn btn-primary btn-user btn-block">
                        Valider
                      </button>

                      <hr>
   
                  </form>
                  <hr>
                  <div class="text-center">
                    <a class="small" href="{{ path('user_new') }}">Créer un compte</a>
                  </div>
           
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>

  </div>


  <!-- Bootstrap core JavaScript-->
  <script src="{{ asset('jquery/jquery.min.js')  }}"></script>
  <script src="{{ asset('bootstrap/js/bootstrap.bundle.min.js')  }}"></script>
  <!-- Core plugin JavaScript-->
  <script src="{{ asset('jquery-easing/jquery.easing.min.js')  }}"></script>
  <!-- Custom scripts for all pages-->
  <script src="{{ asset('js/sb-admin-2.min.js') }}"></script>
  <!-- Page level plugins -->
  <script src="{{ asset('chart.js/Chart.min.js')  }}"></script>
  <!-- Page level plugins -->
  <script src="{{ asset('datatables/jquery.dataTables.min.js') }}"></script>
  <script src="{{ asset('datatables/dataTables.bootstrap4.min.js') }}"></script>
  <!-- Page level custom scripts -->
  <script src="{{ asset('js/demo/datatables-demo.js')  }}"></script>
  <!-- Password -->
  <script src="{{ asset('js/password.js')  }}"></script>

  </body>
</html>
