{% extends 'base.html.twig' %}

{% block title %}{{ project.nom }}{% endblock %}

{% block body %}


  {% if erreur != null %}

    <div class="alert alert-danger" role="alert">                     
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
      </button>
      Accès non autorisé
    </div>


    <div class="text-center">
      <div class="error mx-auto" data-text="401">401</div>
      <p class="lead text-gray-800 mb-5">Accès non autorisé</p>
      <p class="text-gray-500 mb-0">Vous ne pouvez pas accédez à ce tchat</p>
      <a href="{{ path('home') }}">&larr; Retour à l'acceuil</a>
    </div>

  {% else %}
    <div class="clearfix">

        <div class="people-list contain" id="people-list">

          <ul class="list row">
              {% set  newArray = [] %}
              {% set color = [] %}
              
              {% for groupe in project.groups %}
                {% for user in groupe.users %}
                  {% if user not in  newArray %}
                    {% set newArray = newArray|merge([ user]) %}
                    {% set color = color|merge([ user.color ]) %}
                  {% endif %}
                {% endfor %}
              {% endfor %}  



            {% for item in newArray %} 
        
                {% if app.user == item %}
                <li class="clearfix">
                  <div class="about">
                    <div class="name">Vous <i class="fa fa-circle" style="color:{{ color[loop.index0] }}"></i></div>
                  </div>
                </li>
                {% else %}
                <li class="clearfix">
                  <div class="about">
                    <div class="name">{{ item }} <i class="fa fa-circle" style="color:{{ color[loop.index0] }}"></i></div>
                  </div>
                </li>
              
                {% endif %}
              
            {% endfor %}        
          </ul>
        </div>
        
        
        <div class="chat">
          
          <div class="chat-history">
            <div id='loader'></div>
            <ul></ul>   
          </div> <!-- end chat-history -->
          
          <div class="chat-message clearfix">
            <small class="val_message text-success"></small>
            <small class="erreur_message text-danger"></small>
            
            <form id="form_message" action="{{ path('ping') }}" method="POST">
              <textarea name="message-to-send" id="message-to-send" placeholder ="Votre message" rows="5"></textarea>
              <input type="hidden" name="projet_id" value="{{ project.id }}" id="projet_id">
              <i class="fa fa-file-o"></i> &nbsp;&nbsp;&nbsp;
              <i class="fa fa-file-image-o"></i>
              
              <button class="send btn btn-primary" id="send_message">Envoyer</button>
            </form>

          </div> <!-- end chat-message -->
          
        </div> <!-- end chat -->
        
    </div> <!-- end container -->

   
  <div role="alert" aria-live="assertive" aria-atomic="true" class="toast" data-autohide="false" id="topic">
      <div class="toast-header">
        <strong class="mr-auto">Un nouveau message</strong>
        <small>11 mins ago</small>
        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="toast-body"></div>
  </div>

    <a href="{{ path('project_show', {'id': project.id}) }}" class="btn btn-secondary btn-icon-split float-left">
      <span class="icon text-gray-600">
          <i class="fas fa-arrow-left"></i>
      </span>
      <span class="text">Retour</span>
    </a>

  {% endif %}


    
{% endblock %}
{% block javascripts %}

  <script> 

    /**
    * Affichage de tous les messages du projet
    */
    if({{ project.id }}){
 
        $.get({
            url:"/user/project/get/message",
            data:"id="+{{ project.id }},
            success:function(response){
              
              $("#loader").addClass("cacher");
                let html ="";
                response.forEach(element => {

                  let date = new Date(element.createAt);
                   
                    if(element.user.prenom == "{{ app.user.prenom }}" ){
                        html +='<li class="clearfix"><div class="message-data align-right"><span class="message-data-time" >'+ date.toLocaleDateString()+" "+ date.toLocaleTimeString() +'</span> &nbsp; &nbsp;<span class="message-data-name">Vous</span> <i class="fa fa-circle" style="color:'+ element.user.color +'"></i></div><div class="message float-right" style="background-color:'+ element.user.color +';">'+ element.content +'<span id="delete" class="delete_message" data-id="'+ element.id +'">X</span></div></li>';
                        $(".chat-history ul").html(html);
                    }else{
                        html +='<li class="clearfix"><div class="message-data  align-left"><span class="message-data-time" >'+ date.toLocaleDateString()+" "+ date.toLocaleTimeString()  +'</span> &nbsp; &nbsp;<span class="message-data-name" >'+ element.user.prenom+'</span> <i class="fa fa-circle" style="color:'+ element.user.color +'"></i></div><div class="float-left other-message" style="background-color:'+ element.user.color +';">'+ element.content +'</div></li>';
                        $(".chat-history ul").html(html);
                    }
                  
                });


                let btnDelete = document.getElementsByClassName("delete_message"); 
              
                for(let i = 0 ; i < btnDelete.length ; i ++){
                  btnDelete[i].addEventListener("click" , function(){
                    let id = $(this)[0].dataset.id;
                    $.ajax({
                      url: "/user/message/delete/"+id, 
                      type: "DELETE",
                      success:function(response){
                         
                          $(".val_message").html('<i class="fas fa-thumbs-up"></i> '+response.responseText+''); 
                          setTimeout(() => {
                              $(".val_message").html(""); 
                          }, 2000);
                      },
                      error:function(erreur){
                         
                          $(".erreur_message").html('<i class="far fa-frown"></i> '+erreur.responseText+''); 
                          setTimeout(() => {
                              $(".erreur_message").html(""); 
                          }, 2000);
                      }
                    })
                  })
                }
            },
            error:function(){
                 $("#loader").addClass("cacher");
                 $(".chat-history").text("Indisponible")
              
            }
        })
    }
  
  </script>
{% endblock %}
