{% extends 'base.html.twig' %}

{% block title %}{{ project.nom }}{% endblock %}
{% block body %}
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">{{ project.nom }}</h6>
            <a href="{{ path('message_project' , {'id' : project.id }) }}" class="float-right btn btn-success btn-circle btn-lg" title="Accédez au Chatte">  
                <i class="far fa-comments"></i>
            </a>
        </div>
    <div class="card-body">
            
    <table class="table">
        <tbody>
            <tr>
                <th>Nom</th>
                <td>{{ project.nom }}</td>
                <td></td>
            </tr>
            <tr>
                <th>Crée par</th>
                <td>{{ project.createur.nom }} {{ project.createur.prenom }}</td>
                <td></td>
            </tr>
            <tr>
                <th>Etat</th>
                <td>{{ project.etat }}</td>
                 <td></td>
            </tr>
            <tr>
                <th>Date de debut</th>
                <td>{{ project.dateDeDebut ? project.dateDeDebut|date('d-m-Y') : '' }}</td>
                 <td></td>
            </tr>
            <tr>
                <th>Date de fin</th>
                <td>{{ project.DateDeFin ? project.DateDeFin|date('d-m-Y') : '' }}</td>
                 <td></td>
            </tr>
            <tr>
                <th>Durée du projet </th>
                <td id="projet">{{project.DureeProjet}}
                </td>
                <td></td>
                
            </tr>
            <tr>
                <th>Groupe</th>
                {% if project.groups is not empty %}
                <td>
                {% for group in project.groups %}
                    <strong>{{  group.nom }}</strong>
                        <ul>
                        {% for user in group.users %}
                            <li>{{ user.nom }} {{ user.prenom }}</li>
                        {% endfor %}
                        </ul>
                   
                {% endfor %}
                 </td>
                {% else %}
                    <td>Vous n'avez pas constitué votre équipe</td>
                {% endif %}
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ project.description }}</td>
                 <td></td>
            </tr>
            <tr>
                <td>
                    <a href="{{ path('task_index', {'id': project.id}) }}" class="btn btn-dark btn-icon-split" title="liste des tâches">
                        <span class="icon text-white-50">
                            <i class="fas fa-search"></i>
                        </span>
                        <span class="text mobile">Voir la liste des tâches</span>
                    </a>
                </td>
                <td>
                    <a href="{{ path('statistique_projet', {'id': project.id}) }}" class="btn btn-warning btn-icon-split" title="Statistiques du projet">
                        <span class="icon text-white-50">
                           <i class="fas fa-chart-pie"></i>
                        </span>
                        <span class="text mobile">Statistiques du projet</span>
                    </a>
                </td>
                {% if project.createur == app.user %}
                <td>
                    <a href="{{ path('project_edit', {'id': project.id}) }}" class="btn btn-info btn-icon-split" title="Mettre à jour">
                        <span class="icon text-white-50">
                            <i class="fas fa-edit"></i>
                        </span>
                        <span class="text mobile">Mettre à jour</span>
                    </a>
                </td>
                {% endif %}
            </tr>
        </tbody>
    </table>
        </div>
    </div>
    


    <a href="{{ path('project_index') }}" class="btn btn-secondary btn-icon-split float-left" title="Retour">
        <span class="icon text-gray-600">
            <i class="fas fa-arrow-left"></i>
        </span>
        <span class="text mobile">Retour</span>
    </a>


    {% if project.createur == app.user %}
        {{ include('project/_delete_form.html.twig') }}
    {% endif %}

{% endblock %}
